# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.log

# Production
dist/
build/
.next/
out/

# Environment variables
.env
.env.local
.env*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Foundry
cache/
out/
broadcast/

# Dabase
*.db
*.db-journal

# Prisma
backend/*/prisma/migrations/

# Rust / Cargo
target/
**/target/
**/Cargo.lock
!/Cargo.lock
*.pdb
rust-project.json


